<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About me</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="about">
            <div>
                <p>This site was created by Juan Agu.
                    It uses data from <a href="https://www.mapbox.com/">mapbox</a>
                    and <a href="https://darksky.net">darksky</a>
                </p>
                <p>Hello! My name is Juan. Im 32 years old. Im living in Cordoba, Argentina.
                    Im working as backend developer in a company of my country. Also,
                    Im studying System Engineering.
                </p>
            </div>
            <div>
                <img class="portrait" src="/img/me.jpg" />
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>