<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About me</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" />
        <p>Hello! My name is Juan. Im 32 years old. Im living in Cordoba, Argentina.
            Im working as backend developer in a company of my country. Also,
            Im studying System Engineering.</p>

        <h4>My social networks</h4>
        <ul>
            <li><a class="social-network-link" href="https://ar.linkedin.com/in/juan-agu">LinkedIn</a></li>
            <li><a class="social-network-link" href="https://github.com/jhagu">GitHub</a></li>
        </ul>

        <h4>About the app</h4>
        <p>I toke a course about Node.js to refresh my knowledgments and this is my first app
            deployed on the cloud. It is very simple but it helps me a lot to understad the main
            features of Node.js. I'll hope you enjoy it!</p>
    </div>
    {{>footer}}
</body>

</html>