<footer class="social-footer">
    <p>Created by {{name}}</p>
    <div>
        <a href="https://github.com/jhagu"><img src="/img/github-48.png" alt="GitHub"/></a>
        <a href="https://ar.linkedin.com/in/juan-agu"><img src="/img/linkedin-48.png" alt="LinkedIn"/></a>
    </div>
</footer>